.Navbar{
    background-color: rgb(39, 54, 8);
}
.Navbar .Navbar.Brand{
    color: #fff;

}
.Navbar .Navbar.Brand{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
@media(max-width:576px){
    .Navbar .Navbar.Brand{
        margin-right: 0;
    }
}